$rose: 			#FF4E63;
$red-rose: 		#ED0059;
$red-medium: 	#CC004D;
$red-dark: 		#A1023B;
$yellow:        #FFB900;
$blue: 			#170085;
$blue-medium:	#10005C;
$blue-dark: 	#08002D;

$black: 		#313647;
$gray-1: 		#F2F2F2;
$gray-2: 		#DDDDDD;
$gray-3: 		#999999;
$gray-4: 		#666666;

$white: 		#FFFFFF;

$error: 		#E24242;
$warning: 		#DAB400;
$success: 		#1D9077;
$info: 			#50C9F2;

$gradient: linear-gradient(to right, $red-rose 0%, $blue 100%);
