


$spacing-xs: 4px;
$spacing-sm: 8px;
$spacing-md-1: 12px;
$spacing-md-2: 16px;
$spacing-md-3: 20px;
$spacing-md-4: 24px;
$spacing-lg-1: 32px;
$spacing-lg-2: 40px;
$spacing-lg-3: 48px;
$spacing-xl-1: 64px;