//font-face
@import url('https://fonts.googleapis.com/css?family=Ubuntu:300,400,500');

//font-family
$font-family: 'Ubuntu', Arial, sans-serif;
//font-size
$fontWeight-light: 300;
$fontWeight-medium: 500;

//font-size
$fontSize-xxxs: 10px;
$fontSize-xxs: 12px;
$fontSize-xs: 14px;
$fontSize-sm: 18px;
$fontSize-md: 20px;
$fontSize-lg: 24px;
$fontSize-xl: 36px;
$fontSize-xxl: 48px;

//line-height
$lineHeight-xs: 16px;
$lineHeight-sm: 20px;
$lineHeight-md: 24px;
$lineHeight-lg: 32px;
$lineHeight-xl: 48px;
$lineHeight-xxl: 64px;
